@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.mb-0 {
  margin-bottom: 0px;
}

.red {
  background-color: #EF4444;
  color: white;
}

.green {
  background-color: #4CAF50;
  color: white;
}

.blue {
  background-color: #3B82F6;
  color: white;
}

.orange {
  background-color: #FF9800;
  color: white;
}

.gray {
  background-color: #F1F1F1;
  color: black;
}

.dark-blue {
  background-color: #032D3D;
}

.round-1 {
  border-radius: 15px;
}

.card {
  border: 0px;
}

.title {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
}

.card-service {
  text-align: center;
  color: #032D3D;
  padding: 20px;
}

.card-news {
  text-align: center;
  padding: 20px;
  flex-wrap: wrap;
}

.card-news img {
  border-radius: 15px;
  width: 250px;
}

.icon {
  align-self: center;
  text-align: center;
  font-size: 40px;
}

.stats {
  max-width: 120px;
}

footer {
  margin-top: 40px;
  background-color: #F1F1F1;
  padding: 15px;
  display: block;
  text-align: center;
}

footer a {
  color: black;
}
